* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: aliceblue;
}


@keyframes neon-border {
    0% {
        border-color: #2AC9FA;
        box-shadow: 
            0 0 5px #2AC9FA,
            0 0 10px #2AC9FA,
            0 0 15px #2AC9FA,
            0 0 20px #2AC9FA;
    }
    50% {
        border-color: #2AC9FA;
        box-shadow: 
            0 0 10px #2AC9FA,
            0 0 20px #2AC9FA,
            0 0 30px #2AC9FA,
            0 0 40px #2AC9FA;
    }
    100% {
        border-color: #2AC9FA;
        box-shadow: 
        0 0 5px #2AC9FA,
        0 0 10px #2AC9FA,
        0 0 15px #2AC9FA,
        0 0 20px #2AC9FA;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html, body {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: black;
}


#box {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 90%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.content_holder {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 2px;
    width: 95%;
    margin-left: 4rem;
    height: auto;
    box-sizing: border-box;
    & img {
        margin: 3rem 0 3rem;
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 300px;
        align-self: 3/2;
        transition: 0.2s ease-in-out;
    }
    & img:hover {
        transform: scale(1.1);
        animation: neon-border 1s infinite alternate;
    }
    
}